.yellowWarningIcon {
    align-self: flex-start;
    flex-shrink: 0;
    font-size: 1.5rem;
    height: 24px;
    background: radial-gradient(circle at 50% 57%, var(--a-surface-default) 32%, 0, transparent);
    color: var(--ac-alert-icon-warning-color, var(--a-icon-warning))
}
