.styledPanel {
    width: 100%;
    text-decoration: none;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 0.5px 0 rgba(0, 0, 0, 0.18);

    &:hover {
        box-shadow: var(--a-shadow-small);

        .navds-link-panel__chevron {
            transform: translateX(4px);
        }

        .dialogmote__title {
            text-decoration: underline;
        }
    }
}
