.git
.github
.storybook
storybook-static
docs
.local-notes
*.md
LICENSE
.nvmrc
mise.toml
biome.json
lefthook.json
tsconfig.json
vitest.config.ts
microfrontends/*/src
microfrontends/*/mock
microfrontends/*/nais
packages/*/src
