.headingRow {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #0000001a;
    padding: var(--a-spacing-4) var(--a-spacing-4) var(--a-spacing-3);

    @media (min-width: 648px) {
        padding: var(--a-spacing-5) var(--a-spacing-5) var(--a-spacing-4);
    }
}
