.mainContentRow {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: var(--a-spacing-3) var(--a-spacing-4) var(--a-spacing-4);

    @media (min-width: 648px) {
        padding: var(--a-spacing-4) var(--a-spacing-5) var(--a-spacing-5);
    }
}
