.container {
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 0 0.5px 0 rgba(0, 0, 0, 0.18);

  @media (min-width: 648px) {
    max-width: 444px;
  }
}

.container:hover {
  box-shadow: var(--a-shadow-small);
}

.container:hover .headingTitle {
  text-decoration: underline;
}

.container:hover .chevron {
  transition: 0.2s;
  transform: translateX(4px);
}

.link {
  color: var(--a-text-default);
  text-decoration: none;
}

.headingRow {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0000001a;
  padding: var(--a-spacing-4) var(--a-spacing-4) var(--a-spacing-3);

  @media (min-width: 648px) {
    padding: var(--a-spacing-5) var(--a-spacing-5) var(--a-spacing-4);
  }
}

.headingSpacing {
  padding-right: 1rem;
}

.chevronSection {
  display: flex;
  gap: 0.5rem;
}

.mainContentRow {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: var(--a-spacing-3) var(--a-spacing-4) var(--a-spacing-4);

  @media (min-width: 648px) {
    padding: var(--a-spacing-4) var(--a-spacing-5) var(--a-spacing-5);
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.maintContentText {
  font-weight: var(--a-font-weight-regular);
}

.containedTag {
  width: fit-content;
}

.alertContainer {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.yellowWarningIcon {
  align-self: flex-start;
  flex-shrink: 0;
  font-size: 1.5rem;
  height: 24px;
  background: radial-gradient(circle at 50% 57%, var(--a-surface-default) 32%, 0, transparent);
  color: var(--ac-alert-icon-warning-color, var(--a-icon-warning));
}
